<h1>Personas Fisícas</h1>

<hr>

<div class="row text-end">
    <div class="col">
        <button class="btn btn-success" routerLink="/home">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col text-end">
        <button routerLink="/persona/nuevo" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table *ngIf="!cargando && personas.length > 0" class="table table-striped mt-3 animated fadeIn faster">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Fecha Actualizacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">RFC</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Usuario Agrega</th>
            <th scope="col">Activo</th>
            <th scope="col">Opciones</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ persona.fechaRegistro }}</td>
            <td>{{ persona.fechaActualizacion }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellidoPaterno }}</td>
            <td>{{ persona.apellidoMaterno }}</td>
            <td>{{ persona.rfc }}</td>
            <td>{{ persona.fechaNacimiento }}</td>
            <td>{{ persona.usuarioAgrega }}</td>

            <td>
                <label *ngIf="persona.activo" class="badge bg-success" for="">Activo</label>
                <label *ngIf="!persona.activo" class="badge bg-danger" for="">Inactivo</label>
            </td>

            <td>

                <button class="btn btn-info" [routerLink]="['/persona/', persona.id ]">
                    <i class="fa fa-pen"></i>
                </button>

                <button class="btn btn-danger" (click)="borrarPersona( persona, i )">
                    <i class="fa fa-trash"></i>
                </button>

            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!cargando && personas.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>