<div class="m-5">

    <h1>Dashboard de Inicio</h1>
    <hr>

    <div class="row">
        <div class="col m-5">
            <h1>Modulo de Reporte</h1>
            <hr>
            <div class="card bg-dark" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text text-white">Ingresa para obtener un token de acceso y mirar los reportes generados.</p>
                    <a href="#" class="btn btn-primary mt-3" routerLink="/reporte">Ir reporte</a>
                </div>
            </div>
        </div>
        <div class="col m-5">
            <h1>Modulo Personas Físicas</h1>
            <hr>
            <div class="card bg-dark" style="width: 100%rem;">
                <div class="card-body">
                    <p class="card-text text-white">Ingresa para mirar un listado de Personas físicas, asi como registrar, actualizar o borrar registros.</p>
                    <a href="#" class="btn btn-success mt-3" routerLink="/personas">Ir registro</a>
                </div>
            </div>
        </div>
    </div>


    <div class="text-end mt-5">
        <button class="btn btn-danger" (click)="salir()" style="width: 10%;">
        Salir
    </button>
    </div>


</div>