<h1>
    Reportes 2021</h1>

<hr>

<div class="row text-end">
    <div class="col">
        <button class="btn btn-success" routerLink="/home">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<hr>

<h2>Tabla de Reportes</h2>

<div>
    <table id="tablaRporte" *ngIf="!cargando && reportes.length > 0" class="table mt-3 animated fadeIn faster">
        <thead class="table-dark">
            <tr>
                <th scope="col">IdCliente</th>
                <th scope="col">FechaRegistroEmpresa</th>
                <th scope="col">RazonSocial</th>
                <th scope="col">RFC</th>
                <th scope="col">Sucursal</th>
                <th scope="col">IdEmpleado</th>
                <th scope="col">Nombre</th>
                <th scope="col">Paterno</th>
                <th scope="col">Materno</th>
                <th scope="col">IdViaje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
                    let item of reportes
                    | paginate: { itemsPerPage: 20, currentPage: page }
                 ; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.FechaRegistroEmpresa}}</td>
                <td>{{item.RazonSocial}}</td>
                <td>{{item.RFC}}</td>
                <td>{{item.Sucursal}}</td>
                <td>{{item.IdEmpleado}}</td>
                <td>{{item.Nombre}}</td>
                <td>{{item.Paterno}}</td>
                <td>{{item.Materno}}</td>
                <td>{{item.IdViaje}}</td>

            </tr>
        </tbody>
    </table>
</div>


<div class="col-auto">

    <div class="m-0 row justify-content-center">
        <pagination-controls (pageChange)="page = $event">
            previousLabel="Anterior" nextLabel="Siguiente"
        </pagination-controls>
    </div>

    <hr>

    <div class="text-end">
        <button (click)="exportexcel()" class="btn btn-outline-success " type="button">
            <i class="fa fa-file-excel"></i>
            Importar
        </button>
    </div>

</div>

<div *ngIf="!cargando && reportes.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>